package home

import "github.com/FredericoBento/HandGame/internal/views/components"

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		@components.Header()

		<body>
			<div class=".center">
				<h1>Home Index</h1>
			</div>
		</body>
		@components.Footer()
	</html>
}
