package auth_views

templ SignUpForm() {
<section>
  <form>
    <input name="username" id="username" type="text" required>Username</input>
    <input name="password" id="password" type="password">Password</input>
    <input name="repeat_password" id="repeat_password" type="password">Repeat Password</input>
  </form>
</section>
}
