package home_views

templ Base() {
		<h3>This is Home</h3>
		@Menu()
}

templ Menu() {

  <div>
		<input type="button" value="Quick Play"/>
		<input type="button" value="Create Room"/>
		<input type="button" value="Join Room"/>
	</div>
}
