:root {
  --purple: #433878;
  --light-purple: #7E60BF;
  --pink: #E4B1F0;
  --cream: #FFE1FF;
}


#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: var(--light-purple);
}

body,
html {
  margin: 0;
  height: 100%;
}

body {
  /* background-image: url("/assets/imgs/gamewallpaper3.jpg") !important; */
  height: 100%;
  /* background-image: linear-gradient(135deg, #f5f7fa, #c3cfe2); */
  /* background-image: linear-gradient(91.2deg, rgba(136, 80, 226, 1) 4%, rgba(16, 13, 91, 1) 96.5%); */
  background-color: var(--purple);
}

.hero,
.navbar {
  background-color: #433878 !important;
}

.navbar-item:hover {
  background: none !important;
  text-shadow: 0 0 10px #fff, 0 0 20px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 45px #ff4da6, 0 0 40px #ff4da6;
}

.navbar-link:hover {
  background: none !important;
}

.navbar-dropdown a {
  background: none !important;
  text-shadow: none !important;
}

.navbar-dropdown a:hover {
  background: none !important;
  text-shadow: none !important;
  text-shadow: 0 0 10px #fff, 0 0 20px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 45px #ff4da6, 0 0 40px #ff4da6 !important;
}

.navbar-burger {
  color: white !important;
}

.navbar-menu,
.navbar-dropdown,
.navbar-dropdown .navbar-item {
  color: white;
  /* background: var(--light-purple) !important; */
  background: var(--purple) !important;
  --bulma-navbar-dropdown-arrow: white !important;
}

/* .navbar-dropdown .navbar-item { */
/* color: white; */
/* background: var(--light-purple) !important; */
/* --bulma-navbar-dropdown-arrow: white !important; */
/* } */

.logs-content {
  height: 9rem !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.w-100 {
  width: 100%;
}

.app-card .thumbnail {
  transition: transform 0.3s ease;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  border-radius: 10%;
  background-color: transparent !important;
}

.app-card {
  --bulma-card-background-color: transparent !important;
}

.app-card .thumbnail:hover {
  animation: saber-glow 2s infinite alternate-reverse;
  transform: scale(1.05);
  cursor: pointer;
}

.card {
  --bulma-card-shadow: 0 8px 16px rgba(0, 0, 0, 0.3) !important;
}

.admin-app-card {
  /* border: 2px solid var(--light-purple); */
  /* --bulma-card-footer-border-top: 1px solid aqua !important; */
  --bulma-card-footer-border-top: 0px solid black !important;
  --bulma-card-header-shadow: none !important;
}

.handgame-grid .cell:hover {
  cursor: pointer;
  animation: saber-glow 2s infinite alternate-reverse;
  border-radius: 30%;
}

.pongCanvas canvas {
  border: 4px solid aqua;
}

@keyframes saber-glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.7), 0 0 20px rgba(255, 255, 0, 0.7);
    /* Brighter Yellow */
  }

  100% {
    box-shadow: 0 0 10px rgba(255, 255, 0, 1), 0 0 40px rgba(255, 255, 0, 1);
    /* Full brightness */
  }
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}