package components

templ Footer() {
  <footer class="footer mt-auto" id="footer">
    <div class="content has-text-centered has-text-white-ter">
      <p>
        Author: Frederico Bento.
      </p>
    </div>
  </footer>
}
