package views

import "github.com/FredericoBento/HandGame/internal/views/components"


templ Page(title string, content templ.Component) {
  <!DOCTYPE HTML>
  @components.Head()
  <html>
    <body>
      @components.Header()

      @content

      @components.Footer()
    </body>
  </html>
}
